@media screen and (max-width: 989px)  {
    /* for lef menu  */
    body{
        overflow-x: hidden;
        display: grid;
        grid-template-columns: repeat(10, minmax(0,1fr));
        margin: 5px;
    }
    header{
        width: calc(100% + 15px);
        grid-column: 1 / -1;
    }

    /* for left: section ; */
    .leftMenu{
        grid-column: 1/ -1;
    }
    #leftMenuBar{
        display: block;
        margin-right: 16px;
        border: var(--btn);
        background-color: #485e7a;
        border-radius: 0 5px 5px 0;
        color: white;
    }
    #search {
        position: relative;
        width: 90%;
    }
    #search-inputDiv {
        position: absolute;
        right: 0;
        /* bottom: -11px; */
        top: -13px;
    }

    #displayLeftMenu{
        width: calc(100% + 15px);
        display: none;
        animation: leftMenu 500ms ease 1;
        font-size: 15px;
    }

    
    @keyframes leftMenu {
        0%   {opacity: 0;}
        25%  {opacity: 0.25;}
        50%  {opacity:.5;}
        75%  {opacity: 0.75;}
        100% {opacity: 1;}
    }
    /* for centerMenu  */
    .centerMenu{
        grid-column: 1/-1;
    }
    /* footer menu  */
    footer{
        grid-column: 9 / -1;
    }
    #footerMenu {
        border-left: 2px solid white;
        animation: leftMenu 500ms ease 1;
        padding: 5px;
        position: absolute;
        right: 0;
        display: none;
        top: 90px;
        width: 150px;

    }
    #footerSection{
        margin-top: 30px;
    }
    #showFooter {
        position: absolute;
        z-index: 5;
        right: 10px;
        display: block;
        top: 90px;
    }
}